.footerContainer {
  background-color: #fd951f;
  bottom: 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);
  clear: both;
  display: flex;
  justify-content: space-around;
  position: fixed;
  width: 100%;
}

.footerContainer > a {
  align-items: center;
  display: flex;
  height: 50px;
  width: 33%;
}

.footerContainer > a > button {
  background-color: rgba(255, 255, 255, 0.09);
}
