.container {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.cLoader {
  animation: is-rotating 1s infinite;
  border: 5px solid #e5e5e5;
  border-radius: 50%;
  border-top-color: #858585;
  height: 70px;
  width: 70px;
}

@keyframes is-rotating {

  to {
    transform: rotate(1turn);
  }
}
