.template {
  background-color: #242325;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.main-content {
  margin-bottom: 6rem;
}
