:root {
  --input-basic-color:rgba(226, 149, 165, 0.5);
  --input-focus-color:rgba(255, 37, 81, 0.787);
  --input-bg-color:rgb(228, 222, 222);
  --input-font-color:rgb(100, 100, 100);
  --input-placeholder-color:gray;
  --font-francois: 'Francois One', sans-serif;
  --font-patrick: 'Patrick Hand', cursive;
  --font-radjhani: 'Rajdhani', sans-serif;
  --font-satisfy: 'Satisfy', cursive;
  --font-sigmar: 'Sigmar One', cursive;
  --primary-bg-color: rgba(250, 244, 244, 0.363);
  --primary-shadow-color: rgb(245, 238, 238);
  --mpriary-font-size: 16px;
}

.login-container {
  background-color: var(--primary-bg-color);
  display: flex;
  margin: auto;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 360px;
  height: 640px;
}

.login-container img {
  width: 60%;
}

.login-img-container {
  background-color: white;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  width: 360px;
  box-shadow: 0px 10px 25px 10px var(--primary-shadow-color);
  border-radius: 0.01px 0.01px 30px 30px;
}

.form-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
}

.login-input {
  background-color: var(--input-bg-color);
  border: 2px solid var(--input-bg-color);
  border-radius: 5px;
  color:var(--input-font-color);
  outline: none;
  transition: 200ms;
  padding: 2px 5px;
  margin-top: 3px;
}

.login-input:focus {
  border-color: var(--input-focus-color);
  box-shadow: 0.1px 0.1px 2px 2px var(--input-basic-color);
}

.input-label {
  display: flex;
  flex-direction: column;
  font-size: var(--primary-font-size);
  margin-top: 5px;
  width: 280px;
}

.input-login-button {
  width: 150px;
  border-radius: 8px;
  border: none;
  padding: 4px 10px;
  border: 2px solid red;
}

.input-login-button:disabled {
  border: 2px solid blue;
}

.center-items-div {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 360px;
  height: 40px;
  margin-top: 25px;
  font-size: 2.5rem;
  font-family:var(--font-satisfy);
}
