.login-form {
  align-items: center;
  background-color: rgb(226, 207, 181);
  border: solid 1px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  padding: 20px 50px;
  margin-top: 100px;
}

.login-form form {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}
