.container-list {
  display: grid;
  grid-gap: 8px;
  grid-template-columns: 1fr 1fr;
}

.card-button {
  background-color: transparent;
  border: none;
}

.remove-button {
  border-radius: 50%;
  box-sizing: border-box;
  margin-left: 2px;
  padding: 0 6px;
}

.filtered-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 4px;
}

.filtered-content {
  margin: 4px;
}
