.message {
  align-items: center;
  flex-direction: column;
  position: absolute;
  background-color: #0fa36b;
  left: 50%;
  top: 50%;
  height: 3rem;
  border-radius: 5px;
  width: 10rem;
  text-align: center;
}

.message p {
  margin: auto 0;
}
