@import url('https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap') ;

.food-image {
  border-radius: 6px;
  height: 200px;
  max-width: 300px;
  width: 100%;
}

.comidas-body .card, .bebidas-body .card {
  animation: glass1 1s linear infinite;
  backdrop-filter: blur(5px);
  background-color: rgba(202, 202, 202, 0.452);
  border-radius: 6px;
  box-shadow: 0 0 15px rgb(177, 177, 177);
  margin: 20px;
  padding: 20px;
}

.card .food-title {
  border-radius: 10px;
  color: rgb(36, 36, 36);
  font-family: Saira Stencil One , cursive;
  font-weight: 900;
  text-align: center;
  text-decoration: none;
  text-shadow: 5px 5px 5px white;
  text-transform: uppercase;
}

@keyframes glass1 {

  0% {
    background: rgba(168, 167, 167, 0.6);
  }

  100% {
    background: rgba(167, 167, 167, 0.6);
  }
}
