.card {
  background-color: white;
  border-radius: 20px;
  box-shadow: 1px 3px 5px 2px gray;
  margin-bottom: 20px;
  margin-left: 5px;
  min-width: 48%;
  padding: 8px;
  width: 300px;
}

.card > img {
  border-radius: 20px;
  max-width: 290px;
  object-fit: cover;
}
