.card {
  box-shadow: 1px 1px 5px 2px gray;
  border-radius: 20px;
  margin-bottom: 20px;
  margin-right: 5px;
  min-width: 50%;
  padding: 8px;
  width: 300px;
  background-color: white;
}

.card > img {
  border-radius: 20px;
  object-fit: cover;
  max-width: 290px;
}
