.footer {
  align-items: center;
  background: #ea1d2c;
  bottom: 0;
  display: flex;
  height: 10%;
  justify-content: space-between;
  left: 0;
  position: fixed;
  width: 100%;
}

.footer input {
  margin: 2px;
}
