* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, input, button {
  font-family: Roboto , sans-serif;
  scrollbar-width: none;
}

/* body, body > div {
  min-height: 100vh;
  z-index: -1;
}

body > div {
  position: relative;
} */
