* {
  box-sizing: border-box;
  font-family: Poppins , sans-serif;
  margin: 0;
}

.ingredients-main-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  margin-top: 630px;
}

.ingredient-card {
  background: radial-gradient(white, #ccacb9);
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  color: rgb(77, 74, 74);
  display: block;
  margin-bottom: 3px;
  width: 200px;
}

.ingredient-card:hover {
  background: #ca9bae;
  border-radius: 5px;
  display: block;
  margin-bottom: 3px;
  width: 200px;
}
