@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');


body {
  background-color: rgb(245, 187, 0);
}

.box {
  border: none;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.button-color {
  background-color: rgb(191, 49, 0);
  color: white;
  text-transform: uppercase;
  font-weight: 800;
}

.center {
  align-items: center;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.imagem {
  height: 100%;
  width: 100%;
}

input {
  text-align: center;
}

.titulo {
  color: rgb(191, 49, 0);
  font-family: 'Dancing Script', cursive;
  font-size: 25vw;
  margin-top: 5%;
  text-align: center;
}

::placeholder {
  text-align: center;
}

@media screen and ( max-width : 360px ) {
  .box, .container {
    height: 100%;
    width: 100%;
  }
}