/*
https://www.youtube.com/watch?v=WCHKsqStQXA
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

.login-form {
  background-attachment: fixed;
  background-image: url('../images/wallpaper.png'); 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Poppins', sans-serif;
}

form {
  background-color: white;
  border: 6px solid rgb(243, 213, 199);
  border-radius: 50px;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.2);
  font-size: 20px;
  height: 390px;
  justify-content: center;
  margin: 115px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  width: 300px;
}

h1 {
  color: #a76a82;
  font-size: 25px;
  margin-bottom: 20px;
  margin-top: 30px;
  text-align: center;
}

button[type=button] {
  background-color: #c8aab6;
  border-radius: 20px;
  color: white;
  display: inline-block;
  margin-left: 60px;
  margin-top: 30px;
  text-decoration: none;
  width: 50%;
  padding: 10px 20px;
}

button[type=button]:hover {
  background-color: #ca9bae;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  display: inline-block;
  margin-left: 60px;
  margin-top: 30px;
  text-decoration: none;
  width: 50%;
  padding: 10px 20px;
}

button[type=button]:disabled {
  background-color: #dad5d7;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.2);
  color: black;
  cursor: not-allowed;
  margin-top: 30px;
}

input[type=email],input[type=password]{
  background: transparent;
  border: none;
  border-bottom: 1px solid black;
  height: 30px;
  outline: none;
  width: 230px;
}
