.container-done-recipes {
  display: inline-flex;
}

.done-recipes-one {
  background-color: #f8f5f6;
  border: 1px;
  border-radius: 10px;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.2);
  color: rgb(58, 56, 56);
  display: inline-flex;
  margin-bottom: 10px;
  margin-left: 20px;
  padding: 15px;
} 

.done-recipes-two {
  margin-left: 20px;
  margin-top: 10px;
  width: 180px;
}

.btns-recipes-completed {
  align-items: center;
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.btn-recipes-completed {
  background-color: #c8aab6;
  border-radius: 10px;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.2);
  color: rgb(77, 74, 74);
  margin-top: 10px;
  padding: 5px 10px;
  text-decoration: none;
  width: 25%;
}

.btn-recipes-completed:hover {
  background-color: #ca9bae;
  border-radius: 10px;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.2);
  color: rgb(77, 74, 74);
  cursor: pointer;
  margin-top: 10px;
  padding: 5px 10px;
  text-decoration: none;
  width: 25%;
}

.btn-recipes-completed:focus {
  box-shadow: none;
  outline: none;
}

.recipe-horizontal-image {
  border-radius: 5px;
  margin: 10px;
  position: relative;
  text-align: center;
  width: 100px;
}

.container-done-recipes {
  display: block;
  margin-left: 10px;
}

.done-recipe {
  margin-left: 10px;
  margin-top: 10px;
}
