.container-recipe-details {
  margin-bottom: 38px;
}

.last-btn {
  border: none;
  bottom: 0;
  left: 4%;
  position: fixed;
  text-align: center;
  min-width: 92%;
}

.btn {
  background-color: #a76a82;
}

.btn:disabled {
  background-color: #a76a82;
}

.favorite-btn {
  background: none;
  border: none;
}

.share-btn {
  background: none;
  border: none;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.recipe-thumb {
  margin-left: -15px;
  margin-right: -15px;
  min-width: 360px;
  max-height: 200px;
}

.instructions {
  font-size: 0.9rem;
}
