/*
https://pt.stackoverflow.com/questions/288878/
como-dispor-imagens-uma-ao-lado-da-outra-com-t%C3%ADtulos-abaixo-em-css
*/

.holder {
  display: inline-block;
  justify-content: center;
  text-align: center;
}

.recipe-list-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.category-container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.category-button {
  background-color: #c8aab6;
  border-radius: 20px;
  color: rgb(77, 74, 74);
  font-size: 10px;
  font-weight: 700;
  margin: 2px;
  text-decoration: none;
  width: 100px;
}

.recipes-container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  justify-content: center;
  margin-top: 20px;
  width: 350px;
}

.recipe-card {
  align-items: center;
  background: none;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 20px #ccacb9;
  color: rgb(77, 74, 74);
  display: flex;
  flex-direction: column;
  height: 250px;
  justify-content: center;
  margin: 5px;
  width: 150px;
}

.recipe-name {
  font-size: 12px;
}

.recipe-img {
  border-radius: 5px;
  margin: 10px;
  position: relative;
  text-align: center;
  width: 100%;
}

.recipe-img:after {
  bottom: -20px;
  content: attr(data-title); /* estilo que coloco a legenda no lugar */
  left: 0;
  position: absolute;
  width: 100%;
}
