.container-recipe-list {
  box-sizing: border-box;
  margin: 15px;
  margin-bottom: 40px;
  margin-top: 40px;
}

/*
https://pt.stackoverflow.com/questions/288878/
como-dispor-imagens-uma-ao-lado-da-outra-com-t%C3%ADtulos-abaixo-em-css
*/

.holder {
  display: inline-block;
  justify-content: center;
  text-align: center;
}

.recipe-img {
  margin: 10px;
  position: relative;
  text-align: center;
  width: 200px;
}

.recipe-img:after {
  bottom: -20px;
  content: attr(data-title); /* estilo que coloco a legenda no lugar */
  left: 0;
  position: absolute;
  width: 100%;
}
