
.recipe-link {
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.recipe-link:hover {
    text-decoration: none;
    color:black;
}

.recipe-button {
    border: none;
    background-color: #DADADA;
    margin: 0 10px 10px 0;
    border-radius: 7px;
}