.headerContainer {
  align-items: center;
  background-color: #fd951f;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: space-around;
  padding: 8px;
  top: 0;
  width: 100%;
}

.headerContainer > div {
  display: flex;
  padding: 6px;
  width: auto;
}

.headerContainer > div > button {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);
  padding: 6px;
  width: 50px;
}

