.card-ingredient {
  align-items: center;
  border: none;
  height: 150px;
  width: 150px;
}

.card-ingredient-image {
  padding-top: 20px;
  width: 50px;
}

.card-title {
  /* color: rgb(23, 162, 184); */
  font-size: 20px;
  text-align: center;
}

