.card-ingredient {
  align-items: center;
  box-shadow: 5px 5px 5px darkgray;
  height: 150px;
  width: 100%;
}

.card-ingredient-image {
  padding-top: 20px;
  width: 50px;
}

.card-title {
  font-size: 20px;
  text-align: center;
}

.card-container {
  height: 50px;
}
