.card-ingredient {
  align-items: center;
  box-shadow: 5px 5px 5px darkgray;
  height: 200px;
  width: 100%;
}

.card-ingredient-image {
  padding-top: 20px;
  width: 50px;
}

.card-title {
  font-size: 20px;
  text-align: center;
}

.card-container {
  height: 50px;
}

.card-body {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.card-body button {
  width: 50px;
}
