input:checked + label {
  content: 'lelele';
  text-decoration: line-through;
}

ul {
  list-style-type: none;
}

ul > li::before {
  content: '➡️'; /* Insert content that looks like bullets */
  padding-right: 8px;
}
