.container {
  align-items: center;
  background-color: #ddd;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.header-FoodsByOringLocation {
  align-items: center;
  background-color: gray;
  display: flex;
  font-size: xx-large;
  height: 10%;
  justify-content: space-around;
  text-align: center;
  width: 100vw;
}
