.login {
  align-items: center;
  background-image: url('../images/alimentos-ricos-em-fibras.jpg.webp');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.form {
  background-color: orangered;
  border-radius: 5px;
  color: white;
  font-weight: 600;
  margin: 10px;
  padding: 15px;
}

.custom-btn {
  color: white;
  font-weight: 600;
}
