.profile-container {
  display: flex;
  flex-direction: column;
  height: 50vh;
  justify-content: center;
  margin: 20px;
}

.custom-btn-profile {
  color: white;
  font-weight: 600;
  padding: 20px;
}

.email {
  text-align: center;
}
