* {
  margin: 0;
}

.carousel {
  display: flex;
  flex-flow: row nowrap;
  max-width: none;
  overflow-x: scroll;
}

.recipe-container {
  display: flex;
  flex-direction: column;
}

.start-btn {
  bottom: 0;
  position: fixed;
}
