* {
  box-sizing: border-box;  
  margin: 0;
  padding: 0;
}

header {
  background-color: #92b2db;
  color: white;
  width: 100%;
}

h1 {
  margin: auto;
}

header > nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
}