.start-recipe {
  background-color: green;
  bottom: 0;
  color: white;
  left: 0;
  position: fixed;
  text-align: center;
  width: 100%;
}

.share-button-icon {
  background: url(/src/images/shareIcon.svg) no-repeat;
}
