.header {
  background-color: #a5a5a5;
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.search-bar-input {
  display: flex;
  justify-content: center;
  margin: 5px 0;
}

.search-bar-input input {
  width: 97%;
}
