.login-page {
  background-color:transparent;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: auto;
  .logo {
    background-color: #eee;
    border-radius: 50% 50% 0 50%;
    display: flex;
    margin: auto;
    padding: 0.8rem;
    height: 50vh;
    width: 90%;
    img {
      height: 60vh;
      margin-left: 30%;
      pointer-events: none;
      width: 150px;
    }
  }
  form {
    // background-color: #92b2db;
    background-color: transparent;
    border-radius: 5px;
    display: flex;
    flex-flow: column wrap;
    margin-top: 45vh;
    padding: 1rem;
    width: 60%;
  }
  input {
    background-color: rgba(248, 180, 53, 0.199);
    border: none;
    border-radius: 5px;
    color: #131313;
    font-size: 16px;
    height: 30px;
    margin: 10px auto;
    outline: none;
    padding: 5px;
    width: 95%;
    &:focus {
      border: 2px solid #eee;
      border-bottom: 3px solid orange;
      border-left: 3px solid orange ;
    }
  }
  button {
    background-color: orange;
    border: none;
    border-radius: 25px;
    color: #eee;
    font-size: 1.5rem;
    margin: auto;
    min-height: 50px;
    outline: none;
    width: 60%;
    &:active {
      background-color: orange;
      border: 2px inset #eee;
      // color: black;
      outline: none;
    }
    &:disabled {
      background-color: #ccc;
      border: none;
    }
  }
}


.background {
  position: absolute;
  z-index: -1;
}

#Vector_5 {
  animation-name: leftAnimation;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.4, 0, 1, 1);
  // animation-delay: 0s;
  animation-play-state: running;
}

#Vector_6 {
  animation-name: leftAnimation;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.4, 0, 1, 1);
  // animation-delay: 0s;
  animation-play-state: running;
}

#Vector_7 {
  animation-name: leftAnimation;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.4, 0, 1, 1);
  // animation-delay: 0s;
  animation-play-state: running;
}

#Vector_4 {
  animation-name: rigthAnimation;
  animation-duration: 3s;
  animation-timing-function: cubic-bezier(0.4, 0, 1, 1);
  // animation-delay: 3s;
  animation-play-state: running;
}

#Vector_3 {
  animation-name: rigthAnimation;
  animation-duration: 3s;
  animation-timing-function: cubic-bezier(0.4, 0, 1, 1);
  // animation-delay: 1s;
  animation-play-state: running;
}

#Vector_2 {
  animation-name: rigthAnimation;
  animation-duration: 3s;
  animation-timing-function: cubic-bezier(0.4, 0, 1, 1);
  // animation-delay: 2s;
  animation-play-state: running;
  animation-direction: alternate;
}

@keyframes leftAnimation {
  0%   {transform: translateX(-300px); opacity: 80%; }
  25%  { opacity: 60%; }
  50%  {opacity: 40%; }
  75%  {opacity: 20%; }
  100% {opacity: 20%; }
}

@keyframes rigthAnimation {
  0%   {transform: translateX(300px);
        opacity: 10%;
        display: none;
      }
  25%  { opacity: 20%; }
  50%  {opacity: 30%; }
  75%  {opacity: 40%; }
  100% { opacity: 0%; }
}