.Explore-main-container {
  background-attachment: fixed;
  background-image: url('../images/Login_Mobile.png');
  background-repeat: no-repeat;
  height: 100%;
}

.Explore-main-container-meal {
  background-attachment: fixed;
  background-image: url('../images/Meals_Mobile.png');
  background-repeat: no-repeat;
  height: 100%;
}

.Explore-main-container-drink {
  background-attachment: fixed;
  background-image: url('../images/Drinks_Mobile.png');
  background-repeat: no-repeat;
  height: 100%;
}

.explore-btn-container {
  display: flex;
  flex-direction: column;
}

.explore-btn {
  margin: 5px;
}
