.recommendationList {
  list-style: none;
  margin: 0;
  overflow: auto;
  overflow-x: scroll;
  padding: 0;
  white-space: nowrap;
}

.recommendationList li {
  display: inline-block;
  width: 50%;
}

.recommendationList li:nth-child(3){
  display: none;
}

.recommendationList li:nth-child(4){
  display: none;
}

.recommendationList li:nth-child(5){
  display: none;
}

.recommendationList li:nth-child(6){
  display: none;
}

.carouselImage {
  width: 50%;
}

.start-recipe-btn {
  bottom: 0;
  margin-left: 10%;
  position: fixed;
  width: 80%;
}
