@media ( min-width : 361px ) {
  
  .list-area {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    margin: 20px;
  }

}

.list-select {
  display: flex;
  height: 50px;
  justify-content: center;
  margin: 8px 4px;
  width: 100%;
}
