.meals {
  align-items: center;
  background: #0fa36b;
  color: #464646;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.rocksGlass {
  animation: shake 1s infinite ease;
  max-height: 80vh;
}

/* #iceLeft {
  animation: clink .8s infinite ease;
  opacity: 0.6;
  transform-origin: 36px 66px;
}

#iceRight {
  animation: clink .8s .2s infinite ease;
  opacity: 0.6;
  transform-origin: 60px 78px;
} */

.meals > .logo {
  animation: shake 1.5s infinite ease;
  color: aliceblue;
  font-family: Montserrat , sans-serif;
  font-size: 3em;
  font-weight: 900;
}

@keyframes shake {

  0% {
    transform: rotate(5deg);
  }

  50% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(5deg);
  }
}

@keyframes clink {

  0% {
    transform: rotate(-10deg);
  }

  50% {
    transform: rotate(20deg);
  }

  100% {
    transform: rotate(-10deg);
  }
}

.login {
  display: flex;
  flex-direction: column;
}

.login-title {
  display: flex;
  justify-content: center;
}

.header-container {
  align-items: center;
  background-color: #0fa36b;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

.footer-container {
  align-items: center;
  background-color: #0fa36b;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  position: fixed;
  width: 100%;
}

.main-buttons {
  background-color: #0fa36b;
  border: none;
}

.visible {
  display: flex;
}

.notVisible {
  display: none;
}

.start-recipe-btn {
  position: fixed;
  bottom: 0px;
}