.meals {
  align-items: center;
  background: #0fa36b;
  color: #464646;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.btnStyle {
  bottom: 0;
  position: fixed;
  z-index: 1;
}

body .Login {
  background-image: url('./images/legumesefrutas.jpg');
}
