* {
  box-sizing: border-box;
}

.alert {
  background-color: rgba(57, 62, 65, 0.9);
  border-radius: 10px;
  color: whitesmoke;
  float: right;
  left: 50%;
  position: fixed;
  top: 10%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.cardNameSearchBar {
  background-color: rgba(53, 49, 49, 0.3);
}

.checkboxInProgress {
  margin-left: 10px;
}

.checkboxInProgressChecked {
  text-decoration: line-through solid black;
}

.filter-button {
  border: none;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  width: 104px;
  height: 31px;
  font-size: 14px;
}

.filter-button.orange {
  margin: 5px 0;
  color: black;
}

.orange {
  background-color: #F7C838;
}

.filter-button.orange:hover {
  background-color: #F7C838;
}

.white {
  background-color: white;
}

.filter-button:hover {
  background-color: black;
  color: white;
}

.linkImage {
  justify-content: center;
  margin-top: 10px;
  width: 80%;
}

.linkVideo {
  border: 3px solid rgb(18, 53, 41);
  margin-top: 10px;
  width: 98%;
}

.card {
  background-color: rgba(101, 138, 65, 0.3);
  border: 3px solid black;
  margin: 10px;
}

.btn-login {
  margin-left: 140px;
  margin-top: 10px;
}

.meals {
  align-items: center;
  background: #0fa36b;
  color: #464646;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.rocksGlass {
  animation: shake 1s infinite ease;
}

.tags {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 10px;
}

/* .login {
  align-content: center;
  align-items: center;
  background-image: url('./login1.jpg');
  background-size: cover;
  border: 3px solid black;
  display: flex;
  height: 100vh;
  width: 100vw;
} */

.input-text {
  align-self: center;
  border-radius: 5px;
  display: flex;
  margin-left: 70px;
  margin-top: 30px;
}

.login-btn {
  align-self: center;
  border-radius: 5px;
  display: flex;
  margin-left: 140px;
  margin-top: 30px;
}

/*
#iceLeft {
  animation: clink .8s infinite ease;
  opacity: 0.6;
  transform-origin: 36px 66px;
}

#iceRight {
  animation: clink .8s .2s infinite ease;
  opacity: 0.6;
  transform-origin: 60px 78px;
}
*/

<<<<<<< HEAD
=======
.footer {
  background-color: rgba(57, 62, 65, 0.3);
  bottom: 0;
  display: flex;
  justify-content: space-around;
  position: fixed;
  width: 50vw;
}

>>>>>>> 060187bb4ba7aefe7f5562e1782fe64da708527b
.notFound {
  background-image: url('https://zlionbrasil.com.br/img/icons/404.png');
  background-size: cover;
  color: rgb(16, 135, 190);
  font-size: 50px;
  height: 100vh;
  text-align: center;
  width: 100vw;
}

.meals > .logo {
  animation: shake 1.5s infinite ease;
  color: aliceblue;
  font-family: Montserrat , sans-serif;
  font-size: 3em;
  font-weight: 900;
}

@keyframes shake {

  0% {
    transform: rotate(5deg);
  }

  50% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(5deg);
  }
}

@keyframes clink {

  0% {
    transform: rotate(-10deg);
  }

  50% {
    transform: rotate(20deg);
  }

  100% {
    transform: rotate(-10deg);
  }
}
