@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400&display=swap') ;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
}

body {
  background-color: #a6d3f8;
  display: flex;
  font-family: Roboto , sans-serif;
  height: 640px;
  margin: auto;
  overflow: scroll;
  width: 360px;
}

.root {
  width: 100%;
}

.detail-image {
  max-width: 80%;
}
