:root {
  --gray: gray;

  --white: white;
}

.meals {
  align-items: center;
  background: #0fa36b;
  color: #464646;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.rocksGlass {
  animation: shake 1s infinite ease;
  max-height: 80vh;
}

/*
#iceLeft {
  animation: clink .8s infinite ease;
  opacity: 0.6;
  transform-origin: 36px 66px;
}

#iceRight {
  animation: clink .8s .2s infinite ease;
  opacity: 0.6;
  transform-origin: 60px 78px;
}
*/

.meals > .logo {
  animation: shake 1.5s infinite ease;
  color: aliceblue;
  font-family: Montserrat, sans-serif;
  font-size: 3em;
  font-weight: 900;
}

@keyframes shake {
  0% {
    transform: rotate(5deg);
  }

  50% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(5deg);
  }
}

@keyframes clink {
  0% {
    transform: rotate(-10deg);
  }

  50% {
    transform: rotate(20deg);
  }

  100% {
    transform: rotate(-10deg);
  }
}

.login {
  align-items: center;
  background-image: url("https://images.unsplash.com/photo-1495461199391-8c39ab674295?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80");
  background-size: cover;
  display: flex;
  height: 100vh;
  justify-content: center;
  margin: 0;
  width: 100%;
}

.login form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media only screen and (max-width: 400px) {
  .login {
    background-image: url("https://cdn.discordapp.com/attachments/822564174428110883/825021234646876210/unknown.png");
    background-size: cover;
  }
}

.div-button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.div-button button {
  margin-right: 10px;
  margin-top: 10px;
}

.div-foods {
  background-color: var(--white);
}

.card-food {
  align-items: flex-end;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 35px;
  width: 100%;
}

/* .card-item img {
  width: 150px;
} */

.card-item {
  display: grid;
  grid-gap: 1rem;
  margin: 0 auto;
  max-width: 1200px;
}

.card-category {
  color: var(--gray);
  font-size: 1.2;
  margin-left: 5px;
  margin-top: 5px;
}

.card-title {
  color: var(--gray);
  font-size: 1.7em;
  font-weight: 700;
  margin-left: 5px;
}

@media screen and (min-width: 680px) {
  .card-item {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1040px) {
  .card-item {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1400px) {
  .card-item {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (max-width: 400px) {
  .explorar {
    display: flex;
    min-height: 70vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .explorar button {
    font-size: 1.5em;
    margin-bottom: 60px;
  }

  .header-recipe-detail {
    margin-bottom: 30px;
  }

  .header-recipe-detail img {
    margin: 0 0 15px 0;
    width: 100%;
  }

  .header-recipe-detail h3 {
    font-size: 2em;
    margin-left: 20px;
    color: rgb(71, 70, 70);
  }
  
  .header-recipe-detail h5 {
    font-size: 1.5em;
    margin-left: 20px;
    color: gray;
  }

  .header-recipe-detail input {
    margin: 5px 10px;
  }

  .header-recipe-detail section {
    align-items: center;
    display: flex;
    margin-right: 15px;
    justify-content: space-between;
  }

  .header-recipe-detail p {
    color: red;
    margin-left: 20px;
  }

  .ingredients-recipe-details {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
  }

  .ingredients-recipe-details h3 {
    font-size: 1.9em;
    margin-bottom: 15px;
  }

  .instructions-recipe-details {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
  }

  .instructions-recipe-details h3 {
    font-size: 1.9em;
    margin-bottom: 15px;
  }

  .instructions-recipe-details p {
    text-align: justify;
    font-size: 1.055em;
    margin-bottom: 15px;
  }

  .video-recipe-details {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 40px;
  }

  .video-recipe-details h3 {
    font-size: 1.9em;
    margin-bottom: 15px;
  }

  .recommended-recipe-details h3{
    font-size: 1.9em;
    margin-bottom: 15px;
  }

  .ingredients-recipe-inprogress {
    font-size: 1.2em;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
  }

  .ingredients-recipe-inprogress h3 {
    font-size: 1.9em;
    margin-bottom: 15px;
  }

  .ingredients-recipe-inprogress section {
    margin-bottom: 5px;
  }

  .select-by-origin {
    margin-left: 26px;
    border-radius: 7px;
    background-color: white;
    width: 200px;
    height: 30px;
    /* color: rgb(95, 93, 93); */
  }
}
