:root {
  --login-background: #EB893E;
  --login-text:#EDD6C4;
  --login-btn-background:#EEA564;
  --login-btn-text-disable: rgba(0, 0, 0, 0.7);
  --color-orange: #FD951F;
  --color-yellow: #F7DF1E;
  --color-primary: #8257E6;
  --color-primary-hover: #9466FF;
  --color-secondary: #E1E1E6;
  --color-text: #A8A8B3;
  --color-support: #737380;
  --color-shape: #202024;
  --color-shape-hover: #29292E;
  --color-icons: #41414D;
  --color-borders: #323238;
  --color-black: #0D0D0F;
}
html, body {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
}

button, input{
  border: none;
  padding:6px;
  border-radius: 4px;  
}

@media(min-width:620px){
  body {
    width: 610px;
    height: 100vh;
  }
}
