.recipesCard {
  align-items: center;
  color: #464646;
  column-gap: 2px;
  display: grid;
  font-family: sans-serif;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  height: 100vh;
  row-gap: 6px;
  width: 100%;
}
