.buttonCategories {
  height: 18vh;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: rgba(255, 255, 255, 0.151);
  margin: 2vw;
  border-radius: 8px;
  padding: 2px;
  box-shadow: 1px 1px 3px 0px #0000008a;
  .buttons {
    border-radius: 8px;
    margin: 2px;
    // box-shadow: 1px 1px 3px 0px #0000008a;
    background-color: rgba(247, 163, 8, 0.815);
    text-align: center;
    color: rgba(128, 128, 128, 0.781);
    font-size: medium;
    font-weight: 900;
    border: none;
    height: 5vh;
    padding: 0.7em;
    outline: none;
    &:focus {
      border-style: solid;
      border-width: 0 0 3px 0;
      border-color: rgb(241, 139, 4);
      box-shadow: -1px -1px 3px 0px #3a37348a;
    }
  }


}

