.buttonCategories {
  height: 18vh;
  display: grid;
	grid-template-columns: repeat(2, 50%);
  gap: 5px;
  background-color: rgba(255, 255, 255, 0.151);
  margin-top: 50px;
  margin-bottom: 10px;
  // margin: 2vw;
  border-radius: 8px;
  padding: 2px;
  box-shadow: 1px 1px 3px 0px #0000008a;
  .buttons {
    width: 95%;
    border-radius: 8px;
    margin: 2px;
    box-shadow: 1px 1px 3px 0px #8d8b8b8a;
    background-color: #ffc27c;
    text-align: center;
    color: #faf8f9;
    font-size: medium;
    font-weight: 900;
    border: none;
    height: 4.5vh;
    outline: none;
    &:focus {
      border-style: solid;
      border-width: 0 0 3px 0;
      border-color: rgb(241, 139, 4);
      box-shadow: -1px -1px 3px 0px #3a37348a;
    }
  }


}

