.buttonCategories {
  height: 18vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  .buttons {
    background-color: transparent;
    text-align: center;
    color: gray;
    font-size: medium;
    font-weight: 900;
    border: none;
    // width: 50px;
    height: 6vh;
    padding: 0.7em;
    outline: none;
    &:focus {
      border-style: solid;
      border-width: 0 0 5px 0;
      border-color: rgb(248, 183, 63);
    }
  }


}

